$nav-height: 100px;
$nav-height-scroll: 60px;
$nav-padding: 39px 15px;
$nav-padding-scroll: 19px 15px;
$nav-current: #cfa616;
$nav-border: rgba(255, 255, 255, 0.2);
$nav-font:  #e5e7ff;
$nav-font-scroll: #212121;
$nav-font-size: 14px;
$nav-font-weight: 600;
//$nav-dark-background: #3d4792;
$nav-dark-background: rgba(61,71,146, 0.8);
$nav-dark-background-trans: rgba(61,71,146, 0.2);
//$nav-light-background:  rgba(61,71,146, 0.7);
$nav-light-background: rgba(248,248,255, 0.8);

$shadow-color: #3d4792;
$font-light-color: #e5e7ff;

$footer-height: 100px;