@import "variables";

/* ========== General ========== */

body{
  font-family: 'Poppins', sans-serif;
}

.hide {
  display: none;
}

.bg-fade{
  background: linear-gradient(90deg, rgba(61,71,146, 0.8) 25%, rgba(248,248,255, 0));
}

/* ========== Top Navigation ========== */
.navbar-nav
{
  white-space:nowrap  
}
.top-nav {
   border-bottom: 1px solid $nav-border;
   height: $nav-height;
   transition: 0.5s ease-in;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;  
}
.top-nav .navbar-nav li .nav-link {
   color: $nav-font;
   font-size: $nav-font-size;
   padding: $nav-padding;
   font-weight: $nav-font-weight;
   text-transform: uppercase;
   transition: 0.5s ease-in;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
}
.top-nav li a.nav-link:hover, .top-nav .nav-item.active a.nav-link{
   border-bottom: 3px solid $nav-current;
   color: $nav-current;
   transition: 0.5s ease-in;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
}
.top-nav .navbar-brand{  
  color: $nav-font;  
  //font-family: 'Montserrat', sans-serif;
}
.navbar-brand img{
  background-color: $nav-light-background;
  border-radius: 2mm;
}
.top-nav.light-header{
  height: $nav-height-scroll;  
  box-shadow: 0 0 10px $shadow-color;
  transition: 0.5s ease-in;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
}
.top-nav.light-header .navbar-brand{
  color: $nav-font-scroll;
}
.top-nav.light-header .navbar-nav li .nav-link {
   color: $nav-font-scroll;
   padding: $nav-padding-scroll;
   transition: 0.5s ease-in;
   -webkit-transition: 0.5s ease-in;
   -moz-transition: 0.5s ease-in;
}
.top-nav.light-header li a.nav-link:hover, .top-nav.light-header .nav-item.active a.nav-link{
  border-bottom: 3px solid $nav-current;
   color: $nav-current;
   transition: 0.5s ease-in;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
}
.dark-header-bg
{
  background-color: $nav-dark-background;
}
.light-header-bg
{
  background-color: $nav-light-background;
}
.bmalogo
{
  width: 480px;
}

.bmalogo-footer
{
  height: $footer-height;
}

.navbar-toggler
{
  margin: 0 auto;
}

.icaewlogo-img
{
  width: 12%;
  float: right;
  margin-right: 40px;
}

.icaewlogo-img-small
{
  width: 8%;
  float: right;
  margin-right: 40px;
}

.navbar-toggler
{
  border-color:rgba(207, 166, 22, 0.5)!important;
}
.navbar-toggler-icon{background-image:url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(207, 166, 22, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")!important}

/* ========== Parallax ========== */
section {
   padding: 0;
   margin: 0;
   position: relative;
   width: 100%;
   display: flex;
   align-items: center;
   flex-wrap: wrap;
}
.container--full {
	height: 100vh;
}
.container--big {
	height: 175vh;
}
.container--medium {
  height: 60vh;
  padding: 20px
}
.container--small {
  height: 40vh;
  padding: 20px
}

.content--splash {
	//background: $nav-dark-background-trans;
	color: $font-light-color;
	margin: 0 auto;
	padding: 60px 40px;
  text-align: justify;
 // border-radius: 2mm;
  //box-shadow: 0.5em 0.5em 2.0em $shadow-color;
  text-shadow: 2px 2px #401d20;
}

.banner-text
{
  padding-top: 40px;
  // width: 40%;
}

.bg1 {
   //background-image: url(https://picsum.photos/1920/1439/?random);
    background-image: url(../assets/images/img_parallax.jpg)
}

.bg2 {
   background-image: url(https://picsum.photos/1920/1439/?random);
   // background-image: url(../assets/images/img_parallax.jpg)
}

/* ========== Our Team ========== */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
  background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #cfa616;
  border-color: #cfa616;
  box-shadow: none;
  outline: none;
}

.btn-primary {
  color: #fff;
  background-color: #cfa616;
  border-color: #cfa616;
}

section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: $shadow-color;
  margin-bottom: 50px;
  text-transform: uppercase;
}

#team .card {
  border: none;
  background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.mainflip {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.frontside {
  position: relative;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
  margin-bottom: 30px;
}

.backside {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
  min-height: 312px;
}

.backside .card a {
  font-size: 18px;
  color: $shadow-color !important;
}

.frontside .card .card-title,
.backside .card .card-title {
  color: $shadow-color !important;
}

.frontside .card .card-body img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

/* ========== Our Services ========== */
#services .card{
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
padding: 14px 80px 18px 36px;
cursor: pointer;
}

#services .card:hover{
   transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

#services .card h3{
font-weight: 600;
}

#services .card img{
position: absolute;
top: 20px;
right: 15px;
max-height: 120px;
}
#services .card-1{
background-image: url(https://ionicframework.com/img/getting-started/ionic-native-card.png);
    background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}
#services .card-2{
 background-image: url(https://ionicframework.com/img/getting-started/components-card.png);
    background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

#services .card-3{
 background-image: url(https://ionicframework.com/img/getting-started/theming-card.png);
    background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

@media(max-width: 990px){
#services .card{
  margin: 20px;
}
} 

/* ========== Footer ========== */
footer {
  width: 100%;
  position: fixed;
  z-index: 200;
  bottom: 0;
  background: $nav-light-background;
  height: $footer-height;
  border-top: 1px solid $nav-border;
}
.footer-address
{
  padding: 16px 20px;
  font-size: smaller;  
  font-weight: bold;
}
.footer-list{
  list-style: none;
  padding: 16px 20px;
  font-size: smaller;  
}
.comms-arrev
{
  color: $comms-arrev;
}

/* ========== Resize ========== */

.h1, h1 {
  font-size: 1.25rem;
}

.banner-text
{
  font-size: 0.75rem;
  padding-top: 15px;
}

.bmalogo
{
  width: 330px;
}

.bmaname
{
  color: $shadow-color;
  font-size: 20px;
}


// .navbar-brand
// {
//   width: 80%;
// }

@media (min-width: 576px) {

  // .h1, h1 {
  //     font-size: 1.5rem;
  // }

  .bmalogo
{
  width: 480px;
}


  .h1, h1 {
    font-size: 1.50em;
  }
  
  .banner-text
  {
    font-size: 0.8rem;
    padding-top: 20px;
  }
 
  .bmaname
  {
    font-size: 28px;
  }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

  .h1, h1 {
    font-size: 2.5rem;
  }

  .banner-text
  {
    font-size: 1rem;
    padding-top: 30px;
  }
}

@media (min-width: 1200px) {
  // .bmalogo 
  // {
  //   display: inherit;
  // }
}

.light-header .bmalogo
{
  display:none;
}