@import "variables";

/* ========== General ========== */

body{
  font-family: 'Poppins', sans-serif;
}

.hide {
  display: none;
}

/* ========== Top Navigation ========== */
.top-nav {
   border-bottom: 1px solid $nav-border;
   height: $nav-height;
   transition: 0.5s ease-in;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;  
}
.top-nav .navbar-nav li .nav-link {
   color: $nav-font;
   font-size: $nav-font-size;
   padding: $nav-padding;
   font-weight: $nav-font-weight;
   text-transform: uppercase;
   transition: 0.5s ease-in;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
}
.top-nav li a.nav-link:hover, .top-nav .nav-item.active a.nav-link{
   border-bottom: 3px solid $nav-current;
   color: $nav-current;
   transition: 0.5s ease-in;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
}
.top-nav .navbar-brand{
  font-size: 28px;  
  color: $nav-font;  
  //font-family: 'Montserrat', sans-serif;
}
.navbar-brand img{
  background-color: $nav-light-background;
  border-radius: 2mm;
}
.top-nav.light-header{
  height: $nav-height-scroll;  
  box-shadow: 0 0 10px $shadow-color;
  transition: 0.5s ease-in;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
}
.top-nav.light-header .navbar-brand{
  color: $nav-font-scroll;
}
.top-nav.light-header .navbar-nav li .nav-link {
   color: $nav-font-scroll;
   padding: $nav-padding-scroll;
   transition: 0.5s ease-in;
   -webkit-transition: 0.5s ease-in;
   -moz-transition: 0.5s ease-in;
}
.top-nav.light-header li a.nav-link:hover, .top-nav.light-header .nav-item.active a.nav-link{
  border-bottom: 3px solid $nav-current;
   color: $nav-current;
   transition: 0.5s ease-in;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
}
.dark-header-bg
{
  background-color: $nav-dark-background;
}
.light-header-bg
{
  background-color: $nav-light-background;
}
.bmalogo
{
  width: 60%;
}

.icaewlogo-img
{
  width: 12%;
  float: right;
  margin-right: 40px;
}

.icaewlogo-img-small
{
  width: 8%;
  float: right;
  margin-right: 40px;
}

/* ========== Parallax ========== */
section {
   padding: 0;
   margin: 0;
   position: relative;
   width: 100%;
   display: flex;
   align-items: center;
   flex-wrap: wrap;
}

.container--big {
	height: 175vh;
}
.container--full {
	height: 100vh;
}
.container--small {
	height: 40vh;
}

.content--splash {
	background: $nav-dark-background-trans;
	color: $font-light-color;
	margin: 0 auto;
	padding: 60px 40px;
  text-align: center;
  border-radius: 2mm;
  //box-shadow: 0.5em 0.5em 2.0em $shadow-color;
  text-shadow: 2px 2px #401d20;
}

.bg1 {
   background-image: url(https://picsum.photos/1920/1439/?random);
   // background-image: url(../assets/images/img_parallax.jpg)
}

.bg2 {
   background-image: url(https://picsum.photos/1920/1439/?random);
   // background-image: url(../assets/images/img_parallax.jpg)
}

/* ========== Footer ========== */
footer {
  width: 100%;
  position: fixed;
  z-index: 200;
  bottom: 0;
  background: $nav-light-background;
  height: $footer-height;
  border-top: 1px solid $nav-border;
}